<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>LeanAspNetCore - @ViewData["Title"]</title>

    <link rel="icon" href="~/images/favicon.ico" type="image/x-icon">

    <environment names="Staging,Production">
        <link rel="stylesheet" asp-href-include="~/dist/assets/main-*.css" />
    </environment>

</head>

<body>

    @await Html.PartialAsync("_Header")

    <main role="main" class="container">

        <h2 class="mt-3 mb-3">@ViewData["Title"]</h2>

        @RenderBody()

    </main>

    <environment names="Development">
        <script type="module" src="~/dist/@@vite/client"></script>
        <script type="module" src="~/dist/js/main.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script type="module" asp-src-include="~/dist/assets/main-*.js"></script>
    </environment>

    @RenderSection("scripts", false)

</body>
</html>
