@page
@model LeanAspNetCore.Pages.FormModel
@{
  ViewData["Title"] = "Razor Pages Form";
}

@if (!String.IsNullOrEmpty(Model.Message))
{
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    @Model.Message
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
}

<div class="row">
  <div class="col-sm-6">
    <form method="post">
      <div class="mb-3">
        <label asp-for="FormData.Email" class="form-label">Email</label>
        <input asp-for="FormData.Email" type="email" class="form-control" aria-describedby="emailHelp">
        <span asp-validation-for="FormData.Email" class="text-danger small"></span>
      </div>
      <div class="mb-3">
        <label asp-for="FormData.Password" class="form-label">Password</label>
        <input asp-for="FormData.Password" type="password" class="form-control">
        <span asp-validation-for="FormData.Password" class="text-danger small"></span>
      </div>
      <div class="mb-3">
        <label asp-for="FormData.ConfirmPassword" class="form-label">Confirm password</label> 
        <input asp-for="FormData.ConfirmPassword" type="password" class="form-control">
        <span asp-validation-for="FormData.ConfirmPassword" class="text-danger small"></span>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>