@page
@{
    Layout = "Shared/_Layout.cshtml";
    ViewData["Title"] = "React Notes";
}

<div id="react-notes-app"></div>

@section scripts
{
    <environment names="Development">
        <script type="module">
            import RefreshRuntime from "http://localhost:3000/@@react-refresh"
            RefreshRuntime.injectIntoGlobalHook(window)
            window.$RefreshReg$ = () => { }
            window.$RefreshSig$ = () => (type) => type
            window.__vite_plugin_react_preamble_installed__ = true
        </script>
        <script type="module" src="http://localhost:3000/js/react-notes.tsx"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/dist/react_notes.js" asp-append-version="true"></script>
    </environment>
}