@page
@{
    Layout = "Shared/_Layout.cshtml";
    ViewData["Title"] = "React Notes";
}

<div id="react-notes-app"></div>

@section scripts
{
    <environment names="Development">
        <script type="module">
            import RefreshRuntime from '@Url.Content("~/dist/@react-refresh")'
            RefreshRuntime.injectIntoGlobalHook(window)
            window.$RefreshReg$ = () => {}
            window.$RefreshSig$ = () => (type) => type
            window.__vite_plugin_react_preamble_installed__ = true
        </script>
        <script type="module" src="~/dist/js/react-notes.tsx"></script>
    </environment>
    <environment names="Staging,Production">
        <script type="module" asp-src-include="~/dist/assets/react-notes-*.js"></script>
    </environment>
}